@using Eve.Web.ViewModels
@model FillUpEvaluationFormViewModel
@{
    ViewBag.Title = "FillUpEvaluationForm";
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UACompatible" content="=" IE="edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
    <link rel="icon" href="~/favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/ie10-viewport-bug-workaround.js"></script>
    <script src="~/js/ie-emulation-modes-warning.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".team-role-item").click(function () {
                var text = $(this).text();
                var value = $(this).val();

                $('#team-role-span').html(text);

                $('#evaluationFormView div').empty();

                $('#evaluationFormView').load('/FillUpEvaluationForm/LoadEvaluationForm', { jobRoleID: value });
            });

            $(".review-period-item").click(function () {
                var text = $(this).text();
                $('#review-period-span').html(text);
            });
        });
    </script>

    <title>Fill-up Form</title>
</head>
<body>
    <!--Nav Bar-->
    @Html.Partial("../Shared/_InactiveNavbar")

    <div class="container">
        <!--Form-->
        <form class="form-horizontal">
            <h1 class="text-center">
                Form Title
            </h1>

            <!--Information-->
            <h3>
                Introduction and Work Summary
            </h3>

            <div class="form-group">
                <!--Name and Review Period-->
                <label for="inputRevieweeName" class="col-xs-3 control-label">Reviewee's Name</label>
                <div class="col-xs-3">
                    <input type="text" id="inputRevieweeName" class="form-control" placeholder="Reviewee's' Name" required autofocus>
                </div>
                
                <label for="reviewPeriod" class="col-xs-3 control-label">Review Period</label> <!--Make Dropdown (New Hire 3rd Month Review, New Hire 4th Month Review, Midyear Review, Year-End Review)-->
                <div class="dropdown col-xs-3">
                    <button id="review-period" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span id="review-period-span">Select Review Period</span>
                        <span class="caret"></span>
                    </button>
                    <ul id="dropdown-review-period" class="dropdown-menu" role="menu" aria-labelledby="review-period">
                        @foreach (var item in Model.Periods)
                        {
                            <li class="review-period-item" role="presentation" style="cursor:pointer" value="@item.periodID"><a role="menuitem">@item.period</a></li>
                        }
                    </ul>
                </div>
            </div><!--end Name and Review Period-->

            <div class="form-group">
                <!--Position and Group-->
                <label for="group" class="col-xs-3 control-label">Group/Team</label>
                <div class="col-xs-3">
                    <input type="text" id="group" class="form-control" placeholder="Group/Team" required autofocus>
                </div>

                <label for="currentPosition" class="col-xs-3 control-label">Current Position</label>
                <div class="dropdown col-xs-3">
                    <button id="team-role" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span id="team-role-span">Select Team Role</span>
                        <span class="caret"></span>
                    </button>
                    <ul id="dropdown-team-role" class="dropdown-menu" role="menu" aria-labelledby="team-role">
                        @foreach (var item in Model.Roles)
                        {
                            <li class="team-role-item" role="presentation" style="cursor:pointer" value="@item.jobRoleID"><a role="menuitem">@item.jobRoleLevel - @item.jobRole</a></li>
                        }
                    </ul>
                </div>
            </div><!--end Position and Group-->
            <!--end Information-->

            <!--Legend-->
            <div>
                <table id="legend" class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th> 
                            <th></th>
                        </tr>     
                        <tr>
                            <th colspan="4">
                                Rating Scale per Goal
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>4 - Exceeds Target</td>
                            <td>3 - Within Target</td>
                            <td>2 - Below Targer</td>
                            <td>1 - Unsatisfactory</td>
                            <td>0 - No Basis</td>
                        </tr>
                    </tbody>
                 
                </table>
            </div><!--End Legend-->

            <!--Evaluation-->
            <div id="evaluationFormView"></div>
            <div id="summaryView"></div>

            <hr />

            <!--Buttons-->
            <div class="col-xs-offset-3">
                <button class="col-xs-3 btn bt-lg btn-primary" onclick="@("window.location.href='" + @Url.Action("EvaluationSummary", "EvaluationSummary") + "'");">
                    <span class="glyphicon glyphicon-paste"></span> Next
                </button>

                <button class="col-xs-3 col-xs-offset-3 btn bt-lg btn-default" onclick="@("window.location.href='" + @Url.Action("Summary", "TemplateEvaluationSummary") + "'");">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
                </button>
            </div>

        </form>
        <br /><br />
    </div><!--end Form-->
</body>

